@media screen and (width > 768px) {
  .header-container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }

  .header-content h1,
  .header-content .section-description,
  .header-btn {
    text-align: left;
  }

  .header-content .section-description {
    width: 70%;
  }

  .header-image {
    grid-area: 1/2/2/3;
  }

  .why-choose {
    align-items: start;
  }

  .why-upper h2 {
    text-align: left;
  }

  .why-lower {
    padding: 0 3rem;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .partners-upper {
    text-align: left;
  }

  .partner-lower {
    grid-template-columns: repeat(7, 1fr);
    padding: 0 1rem;
  }


  .offer-title {
    text-align: left;
    margin-bottom: 1rem;
  }

  .about-container{
    flex-direction: row;
    gap: 5rem;
  }

  .about-text {
    text-align: left;
  }

  .about-btns {
    justify-content: left;
  }





}
